
.header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0070f3;
    box-sizing: border-box;
    box-shadow: inset 0 0 35px 5px rgb(0 0 0 / 41%), inset 0 20px 1px 1px #0070f3,9px 13px 13px -4px rgba(0,0,0,0.44);
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;

 
}

@media (max-width: 900px) {
    .header{ display: inline-block;
        width: 100%;}
   

}